doctype
html.no-js
    head
        include _head.jade

    body.b-body
       
        .b-page
            .b-page__section.b-page__section_intro
                .b-layout
                    header.b-header
                        .b-header__logo
                            a.b-logo(href="index.html") Wallet One
                        .b-header__text Партнерская программа
                        .b-header__action
                            a.b-btn.b-btn_white(href="#") ВОЙТИ

                    .b-content
                        h1.b-content__title Прибыль пополам
                        p Над созданием лучшего продукта мы трудились свыше 3 лет. <br>И теперь предлагаем зарабатывать вместе 50/50!
                        a.b-btn.b-btn_green(href="#") ПРИСОЕДИНИТЬСЯ
            
            .b-page__section.b-page__section_graph
                .b-layout
                    .b-content
                        h2.b-content__subtitle Хотите зарабатывать на уникальном<br>востребованном продукте?
                        .b-graph
                            .b-graph__img
                            span.b-graph__text.b-graph__text_perc
                                a(href="#") Подключайте
                                |  интернет-магазины<br>и получайте свой % от прибыли!
                            span.b-graph__text.b-graph__text_profit Ваш заработок:<br>
                                em 30 000 Р
                            span.b-graph__text.b-graph__text_val Оборот магазинов:
                            span.b-graph__text.b-graph__text_val.b-graph__text_val_1 1 млн
                            span.b-graph__text.b-graph__text_val.b-graph__text_val_2 5 млн
                            span.b-graph__text.b-graph__text_val.b-graph__text_val_3 10 млн


            .b-page__section.b-page__section_features-shop
                .b-layout
                    .b-content
                        h3.b-content__subtitle Преимущества «Единой кассы» для магазинов
                        .b-feature-list
                            .b-feature-list__col
                                .b-icon-text.b-icon-text_size-l
                                    span.b-icon-text__fig
                                        i.b-icon.b-icon_tick
                                    span.b-icon-text__val Моментальное<br>подключение

                                .b-icon-text
                                    span.b-icon-text__fig
                                        i.b-icon.b-icon_wallet
                                    span.b-icon-text__val Свыше 100 платежных инструментов

                                .b-icon-text
                                    span.b-icon-text__fig
                                        i.b-icon.b-icon_gui
                                    span.b-icon-text__val Самый удобный и простой кабинет

                                .b-icon-text
                                    span.b-icon-text__fig
                                        i.b-icon.b-icon_pers
                                    span.b-icon-text__val Собственная база лояльных покупателей и возможность размещения витрин

                                .b-icon-text
                                    span.b-icon-text__fig
                                        i.b-icon.b-icon_globe
                                    span.b-icon-text__val Офисы в 12 странах и работа в разных валютах

                            .b-feature-list__col
                                .b-icon-text.b-icon-text_size-l
                                    span.b-icon-text__fig
                                        i.b-icon.b-icon_perc
                                    span.b-icon-text__val Более выгодный тариф<br>при подключении партнеров

                                .b-icon-text
                                    span.b-icon-text__fig
                                        i.b-icon.b-icon_pie
                                    span.b-icon-text__val Подробная аналитика

                                .b-icon-text
                                    span.b-icon-text__fig
                                        i.b-icon.b-icon_mail
                                    span.b-icon-text__val Удобная встроенная доставка товаров

                                .b-icon-text
                                    span.b-icon-text__fig
                                        i.b-icon.b-icon_setting
                                    span.b-icon-text__val Гибкие настраиваемые тарифы

                                .b-icon-text
                                    span.b-icon-text__fig
                                        i.b-icon.b-icon_lock
                                    span.b-icon-text__val Высокая стабильность системы

                                .b-icon-text
                                    span.b-icon-text__fig
                                        i.b-icon.b-icon_sup
                                    span.b-icon-text__val Поддержка 24/7
                        
                        a.b-btn.b-btn_green(href="#") ПРИСОЕДИНИТЬСЯ

            .b-page__section.b-page__section_features-prog
                .b-layout
                    .b-content
                        h4.b-content__subtitle Преимущества программы
                        .b-feature-list
                            .b-feature-list__col.b-feature-list__col_one-third
                                .b-icon-text.b-icon-text_size-m
                                    span.b-icon-text__fig
                                        i.b-icon.b-icon_wallet-white
                                    span.b-icon-text__val Возможность<br> неограниченного дохода

                                .b-icon-text.b-icon-text_size-m
                                    span.b-icon-text__fig
                                        i.b-icon.b-icon_pie-white
                                    span.b-icon-text__val Удобный кабинет<br> с подробной аналитикой

                            .b-feature-list__col.b-feature-list__col_one-third
                                .b-icon-text.b-icon-text_size-m
                                    span.b-icon-text__fig
                                        i.b-icon.b-icon_perc-white
                                    span.b-icon-text__val Высокие<br> комиссионные

                                .b-icon-text.b-icon-text_size-m
                                    span.b-icon-text__fig
                                        i.b-icon.b-icon_graph
                                    span.b-icon-text__val Маркетинговая<br> поддержка

                            .b-feature-list__col.b-feature-list__col_one-third
                                .b-icon-text.b-icon-text_size-m
                                    span.b-icon-text__fig
                                        i.b-icon.b-icon_setting-white
                                    span.b-icon-text__val Самый<br> технологичный продукт

                                .b-icon-text.b-icon-text_size-m
                                    span.b-icon-text__fig
                                        i.b-icon.b-icon_act
                                    span.b-icon-text__val Кобрендовые<br> акции


            .b-page__section.b-page__section_form
                .b-layout
                    .b-content
                        h5.b-content__subtitle Остались вопросы?
                        .b-form
                            .b-form__row
                                input.b-field(type="text", placeholder="Имя")
                            .b-form__row
                                input.b-field(type="text", placeholder="E-mail")
                            .b-form__row
                                textarea.b-field.b-field_textarea(cols="30", rows="7", placeholder="Сообщение")
                            .b-form__row.b-form__row_submit
                                input.b-btn.b-btn_green(type="submit", value="ОТПРАВИТЬ СООБЩЕНИЕ")

        footer.b-footer
            p © 2007 — 2014, Wallet One
            a(href="mailto:partner@walletone.com") partner@walletone.com


     
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
        script window.jQuery || document.write('<script src="js/jquery-1.10.2.js"><\/script>')
        //- script(src='js/scripts.js')
        script(src='js/main.js')